.App {
  font-family: sans-serif;
  text-align: center;
}
.wrapper {
  display: flex;
  height: 100vh;
  width: 100vh;
  justify-content: center;
  align-items: center;
}

.accordian {
  width: 500px;
}
.item {
  background: #f0ebe1;
  margin-bottom: 5px;
  padding: 10px 20px;
}
.title {
  color: #85662b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.content {
  color: #8b7f75;
  max-height: 0;
  overflow: hidden;
}
.show {
  height: auto;
  max-height: 500px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
